body {
  font-family: "Inter", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  background-color: #fff;
  padding-bottom: 412px;
  background-image: url("images/Header-llustration-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

nav .logo {
  display: none;
}

nav .nav-link {
  color: #172b4d;
}

.headline h1 {
  color: #36b37f;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  width: 700px;
  height: 114px;
  margin: 140px auto 15px;
}

.headline h1 span {
  color: #172b4d;
  display: block;
}

.headline p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #172b4d;
  width: 820px;
  height: 100px;
  margin: auto;
}

.headline .icons {
  color: #172b4d;
  font-size: 20px;
}

.headline .arrow {
  margin: 60px;
}

.container h2 {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.work {
  margin-bottom: 192px;
}

.work .d-flex {
  justify-content: space-between;
}

.work .card-title {
  color: #172b4d;
}

.work li {
  background-color: #ebf0ee;
  padding: 7px 12px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.work .card-img-top {
  height: 252px;
  background-color: #ebf0ee;
}

.work .work-item {
  margin-top: 20px;
}

.card-body {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}
